html {
    height: 100%;
}

body {
    background-size: cover;
    height: calc(100vh - 230px);
    background: url('/media/background_image.jpg') no-repeat center center fixed;
    color: #bc986a;
    font-family: 'Inter', sans-serif;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.page-header {
    background-color: #8d8741;
}

.header-container {
    height: 150px;
}

.logo-font {
    text-transform: uppercase;
    color: whitesmoke;
}

.logo-font hr {
    margin: 0;
}

.main-logo-link {
    width: fit-content;
}

.btn-olive {
    background: #8d8741;
    color: whitesmoke;
}

.btn-olive:hover,
.btn-olive:active,
.btn-olive:focus {
    background: whitesmoke;
    color: #8d8741;
}

.text-white {
    color: whitesmoke !important;
}

.text-olive,
.text-olive:hover {
    color:#8d8741 !important;
}

.text-olive-bold {
    color: #8d8741 !important;
    font-weight: 700;
}

.border-white {
    border: 1px solid whitesmoke !important;
}

.border-olive {
    border: 1px solid #8d8741 !important;
}

.dropdown-olive {
    background-color: #8d8741;
}

.dropdown-olive a {
    color: whitesmoke;
}

.dropdown-olive a:hover {
    color: #8d8741;
}

.nav-link {
    padding: 0.5rem 0rem;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #fbeec1;
}

.card-bg {
    background-color: #8d8741;
}

.card-img-top {
    width: 100%;
    height: 50vw;
    object-fit: cover;
}

.card-border {
    border: solid 1px #bc986a;
    border-radius: 10px;
}

.detail-text {
    font-size: 2em;
}

.badge {
    font-size: 100%;
}

a.category-badge > span.badge:hover {
    background: #8d8741 !important;
    color: whitesmoke !important;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */

.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

/* Allauth form formatting */

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

/* -------------------------------- Media Queries */

@media (min-width:440px) {
    .header-container {
        height: 121px;
    }

    .card-img-top {
        height: 25vw;
    }
}

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 230px;
    }
}

@media (min-width: 1343px) {
    .header-container {
        padding-top: 182px;
    }

    .card-img-top {
        height: 20vw;
    }
}

@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }