html {
    height: 100%;
}

body {
    background-size: cover;
    height: calc(100vh - 164px);
    background-color: #659dbd;
    color: #bc986a;
    font-family: 'Inter', sans-serif;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.page-header {
    background-color: #8d8741;
}

.logo-font {
    text-transform: uppercase;
    color: whitesmoke;
}

.logo-font hr {
    margin: 0;
}

.main-logo-link {
    width: fit-content;
}

.btn-olive {
    background: #8d8741;
    color: whitesmoke;
}

.btn-olive:hover,
.btn-olive:active,
.btn-olive:focus {
    background: whitesmoke;
    color: #8d8741;
}

.text-white {
    color: whitesmoke !important;
}

.text-olive,
.text-olive:hover {
    color:#8d8741 !important;
}

.border-white {
    border: 1px solid whitesmoke !important;
}

.dropdown-olive {
    background-color: #8d8741;
}

.dropdown-olive a {
    color: whitesmoke;
}

.dropdown-olive a:hover {
    color: #8d8741;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}