<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-olive mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu dropdown-olive" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-olive mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Food
            </a>
            <div class="dropdown-menu dropdown-olive" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=live_food" class="dropdown-item">Live Food</a>
                <a href="{% url 'products' %}?category=frozen_food" class="dropdown-item">Frozen Food</a>
                <a href="{% url 'products' %}?category=other_food" class="dropdown-item">Other Food</a>
                <a href="{% url 'products' %}?category=live_food,frozen_food,other_food" class="dropdown-item">All Food</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-olive mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Housing
            </a>
            <div class="dropdown-menu dropdown-olive" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=vivariums" class="dropdown-item">Vivariumns</a>
                <a href="{% url 'products' %}?category=heating,lighting" class="dropdown-item">Heating &amp; Lighting</a>
                <a href="{% url 'products' %}?category=accessories" class="dropdown-item">Accessories</a>
                <a href="{% url 'products' %}?category=vivariums,heating,lighting,accessories" class="dropdown-item">All Housing</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-olive" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu dropdown-olive" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance,nachos_favourite" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>